:root {
    --main-white: #f8f8f8;
    --main-gray-1: #dbe1e8;
    --secondary-gray: #b2becd;
    --secondary-gray-2: #6c7983;
    --dark-gray: #454e56;
    --main-black: #2a2e35;
    --secondary-black: #12181b;
    --accent-blue: #0084a5;
    --drop-down-custom: #ADD2EB;
  
    --hue: 206; 
    --accent-hue: 25; 
    --text-color-dark-mode: hsl(var(--hue), 10%, 62%);
    --text-color-highlight: hsl(var(--accent-hue), 70%, 45%);
    --link-color: hsl(var(--hue), 90%, 70%);
    --accent-color: hsl(var(--accent-hue), 100%, 70%);
    --button-background: hsl(var(--hue), 63%, 43%);
    --dark-dropdown-background: hsl(var(--hue), 63%, 43%);
    --dark-mode-background: hsl(var(--hue), 20%, 12%);
  
    /* Custom theme variables go below */

    --custom-main-bg: #ADD2EB;
    --custom-font: #181E34;
    --custom-secondary-bg: #0F2417;
    --custom-accent: #A24F0B;
    --custom-drop: #67929e;
  }
  
  .light {
    --bg: var(--main-white);
    --bg-nav: linear-gradient(to top, var(--main-gray-1), var(--secondary-gray-2));
    --bg-dropdown: var(--main-white);
    --text: var(--secondary-black);
    --border-color: var(--accent-blue);
    --bg-custom: var(--drop-down-custom);
  }
  
  /* Dark theme code goes below */

  .dark{

    --bg: var(--dark-mode-background);
    --bg-nav: linear-gradient(to bottom, var(--link-color), var(--secondary-black));
    --bg-dropdown: var(--dark-dropdown-background);
    --text: var(--text-color-dark-mode);
    --border-color: var(--accent-color);
    --bg-custom: var(--drop-down-custom);
  }

  
  /* Custom theme code goes below */
  .custom-theme{
    --bg: var(--custom-main-bg);
   --bg-nav: linear-gradient(to right, var(--custom-main-bg), var(--custom-secondary-bg));
   --bg-dropdown: var(--dark-dropdown-background);
   --text: var(--custom-font);
   --border-color: var(--custom-accent);
   --bg-custom: var(--custom-main-bg);
  }
  #dark::before {
    background: #2a2e35;
  }
  
  #light::before {
    background: #ffffff;
  }
  
  #custom-theme::before {
    background: var(--bg-custom);
  }
  
  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
    font-family: 'Roboto', sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  a  {
    color: currentColor;
    text-decoration: none;
  }
  
  header {
    padding: 1em;
    background: var(--bg-nav);
    margin-bottom: 1em;
    padding-bottom: 2.5em;
    text-align: center;  
  }

  
  
  main {
    max-height: 1000px;
    padding: 2rem;
  }
  
  .navbar {
    height: 75px;
    width: 100%;
    
    background: var(--bg);
    color: var(--text);
    font-size: clamp(.8rem, 1rem, 1.2rem);
    font-weight: bold;  
  }
  
  
  .navbar-nav {
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  
  .dropdown {
    position: absolute;
    display: block;
    width: relative;
    opacity: 0;
    z-index: 2;
    background: var(--bg-dropdown);
    border-top: 2px solid var(--border-color);
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
    filter: drop-shadow(30px 10px 6px rgba(2, 8, 20, 0.1));
    transform: translateX(-40%);
    transition: opacity .15s ease-out;
  }
  
  .has-dropdown:focus-within .dropdown   {
    opacity: 1;
    pointer-events: auto;
    height: 125px;
    margin-top: 4px;
    width: 180px;
  }
  
  
  .dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
  }
  
  .dropdown-item a::before {
    content: ' ';
    border: 2px solid var(--border-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }
  
  
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: calc(5% + 1.5vw);
  }
  
  
  .workArea {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
    justify-content:space-evenly;
      
  }
  .card {
      width: 24%;
      margin-right: 1px;

      border-radius: 5%;

      }

      .card-img-top {
          padding-top: 15px;
        margin:auto;
        width: 55%;
        height:250px;
        transition: width 2s;
        align-items: center;
        border-radius: 50%;
        }
        .card-img-top:hover {
            width: 100%;
            padding:0;
            border-radius: 50%;
        }  


  

  a:hover{

   font-size: x-large;
  }

  @media only screen and (max-width: 480px) {
    .card {
        width: 100%;
        margin:0;
        
    }

    main {
        padding: 0;
        margin:0;
    }

    footer{
        display:none;
    }

    

    
  }
  
  
  footer {
    padding: 1em;
    background: var(--bg-nav);
    
    
    text-align: center;  
  }
  
  
  
  
  
    